svg {
  @apply w-8 h-8;
}

a {
  @apply text-brand underline;
}

body {
  @apply font-sans;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  @apply font-display font-bold text-black leading-tight;

  a {
    @apply text-black no-underline hover:underline;
  }
}

h1,
.h1 {
  @apply text-4xl lg:text-5xl xl:text-6xl;
}

h2,
.h2 {
  @apply text-3xl lg:text-4xl xl:text-5xl;
}

h3,
.h3 {
  @apply text-xl lg:text-2xl xl:text-3xl;
}

h4,
.h4 {
  @apply text-lg lg:text-xl xl:text-2xl;
}

.content {
  @apply text-gray-700;

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  p {
    @apply mb-5;
  }

  h2 {
    @apply mt-6;
  }

  h3 {
    @apply mt-6;
  }
  
  p:last-of-type {
    @apply mb-0;
  }
  
  strong {
    @apply font-bold;
  }

  ul,
  ol {
    @apply pl-4 lg:pl-8 my-5;

    li::marker {
      @apply text-brand;
    }
  }
  
  ul {
    @apply list-disc;
  }
  
  ol {
    @apply list-decimal;
  }

  table {
    @apply mt-4;
  }
}

.screen-reader-text {
  @apply hidden;
}

.wp-caption {
  @apply w-full mt-12;

  .wp-caption-text {
    @apply mt-4;
  }
}
