html {
  @apply h-full;
}

body {
  @apply antialiased;
  
  background: rgb(255,224,242);
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,224,224,1) 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;


  &.footer-sticky {
    @apply flex flex-col min-h-screen;

    .wrapper {
      flex: 1 0 auto;

      @apply w-full;
    }
  }

  &.no-fout {
    @apply invisible;

    .wf-inactive &,
    .wf-active & {
      @apply visible;
    }
  }
}

footer {
  @apply bg-gray-100;
}
