.maintenance-mode-alert {
  position: fixed;
  display: none;
  inset: 0;
  padding: 1.25rem;
  text-align: center;
  color: white;
  background-color: #dc2626;
  z-index: 999999;

  h1 {
    color: white;
  }

  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
